#root {
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    background-color: #f8faf8;
    font-family: "Playpen Sans Hebrew", cursive;
}

.sign-in-container {
    background-color: #cce7c9;
}

.box {
    width: 500px;
    max-width: 100vw;
    background-color: white;
    padding: 3rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0, 0, 0.15);
}

.checked {
  text-decoration: line-through;
}

.modal {
    margin-top: 55px;
}

.modal-form-body {
    max-height: 60vh;
    overflow: auto;
    margin-bottom: 20px;
}

.closeButton {
    background-color: white;
}

.closeButton:hover {
    border: none;
}

.page {
    padding: 0px 10px 10px 10px;
}

.table-wrapper {
    width: 100%;
    overflow: auto;
}

table {
    table-layout: fixed;
}

td {
    overflow-wrap: break-word;
    word-break: break-word;
}

td .name {
    font-size: 18px;
}

td .details, .details {
    font-size: 14px
}

td .date, .item-date {
    font-size: 12px
}

.details-with-checkbox {
    margin-left: 32px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 5px 0;
    padding: 0;
}

.sticky {
    position: sticky;
    top: 55px;
    background-color: #f8faf8;
    z-index: 2;
}

.list-row:hover {
    background-color: rgba(0,0,0,0.075);
}

#settings-button, #add-item-button {
    height: 40px;
}