#root {
    width: 100vw;
    height: 100vh;
    background-color: #cce7c9;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
}

.box {
    width: 500px;
    max-width: 100vw;
    background-color: white;
    padding: 3rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0, 0, 0.15);

}