#root {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: cursive;
    background-color: #f8faf8;
}

.sign-in-container {
    background-color: #cce7c9;
}

.box {
    width: 500px;
    max-width: 100vw;
    background-color: white;
    padding: 3rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0, 0, 0.15);
}

.side-container {
    width: 100%;
    height: 100%;
    background-color: white;
}