#root {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    padding: 0px;
    margin: 0px;
    background-color: #f8faf8;
    font-family: "Playpen Sans Hebrew", cursive;
}

.sign-in-container {
    background-color: #cce7c9;
}

.box {
    width: 500px;
    max-width: 100vw;
    background-color: white;
    padding: 3rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0, 0, 0.15);
}

.checked {
  text-decoration: line-through;
}

.modal {
    margin-top: 64px;
}

.closeButton {
    background-color: white;
}

.closeButton:hover {
    border: none;
}

.page {
    position: relative;
    height: 85vh;
    width: calc("100vw - 240px")     /* because drawerWidth=240px */
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    overflow-wrap: break-word;
    word-break: break-word;
}